<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Digication | 404</title>

    <!--SEO Meta Tags-->
    <meta name="description" content="Digification  - The ePortfolio tool for students " />
    <meta name="keywords" content="" />
    <meta name="author" content="" />

    <!--Mobile Specific Meta Tag-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <!--Favicon-->
    <!-- <link rel="shortcut icon" href="img/favicon.png" type="image/x-icon">
    <link rel="icon" href="img/favicon.png" type="image/x-icon"> -->


    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/animate.css/3.2.0/animate.min.css">

    <!-- Pixeden Stroke Icons -->
    <link href="../../assets/css/vendor/pixeden.css" rel="stylesheet" media="screen">

    <!-- All Theme Styles including Bootstrap, FontAwesome, etc. compiled from styles.scss-->
    <link href="css/styles.min.css" rel="stylesheet" media="screen">


    <link href="../../css/custom.css" rel="stylesheet" media="screen">

    <!--Modernizr / Detectizr-->
    <script src="../../js/vendor/modernizr.custom.js"></script>
    <script src="../../js/vendor/detectizr.min.js"></script>
</head>

<!-- Body -->

<body class="error404 light-skin">

<!-- Preloader -->

<!--<div id="preloader" data-spinner="spinner7" data-screenbg="#fff"></div>-->

<!-- Page Wrapper -->
<div class="page-wrapper">

    <!-- Navbar -->
    <header class="navbar navbar-light navbar-sticky">
        <div class="container">
            <a href="/" class="site-logo">
                <img src="https://www.digication.com/images/DigicationLogowht.png" class="logo-default" alt="Digication">
                <img src="https://www.digication.com/images/DigicationLogowht.png" class="logo-alt" alt="Digication">
            </a>
            <!-- .site-logo -->

            <!-- Mobile Menu Toggle -->
            <div class="nav-toggle"><span></span></div>

            <div class="clearfix">

                <div class="toolbar text-right">
                    <!--<a href="#intro" class="btn btn-sm btn-ghost btn-default scroll-to" data-offset-top="-40">Join Waitlist</a>-->
                    <div style="padding-top: 20px" class="site-cta">
                        <a style="color: #813aa2; background-color: #fff" href="#contact-us" class="btn btn-sm btn-warning scroll-to scroll-down-btn spaced cta-default"
                           data-offset-top="70">Contact Us</a>
                    </div>
                </div>
                <!-- .toolbar -->

                <nav class="main-navigation submenu-flipIn">
                    <ul class="menu">
                        <li><a href="#features" class="">About</a>
                        </li>
                        <li><a target="_blank" href="#">Blog</a>
                    </ul>
                </nav>
                <!-- .main-navigation -->
            </div>
            <!-- .clearfix -->
        </div>
        <!-- .container -->
    </header>
    <!-- .navbar -->

    <!-- 404 Content -->
    <main class="page-404 container padding-bottom-3x">
        <div class="row">
            <div class="col-md-8 col-sm-10 col-md-offset-2 col-sm-offset-1">
                <h1 class="page-404-title">404</h1>
                <h2>Oops, the page you're looking for does not exist.</h2>
                <p class="page-404-content">You may want to head back to the homepage. If you think something is broken, please do not hesitate to report a problem.</p>
                <div class="row space-top-2x">
                    <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                        <a href="/" class="btn btn-default btn-block">Back to Homepage</a>
                    </div>
                </div>
            </div>
        </div><!-- .row -->
    </main><!-- .page-404.container -->
</div><!-- .page-wrapper -->

<!-- JavaScript (jQuery) libraries, plugins and custom scripts -->
<script src="js/vendor/jquery-2.1.4.min.js"></script>
<!--<script src="js/vendor/preloader.min.js"></script>-->
<script src="js/vendor/placeholder.js"></script>
<script src="js/vendor/bootstrap.min.js"></script>
<script src="js/bootstrap-modal.js"></script>
<script src="js/vendor/smoothscroll.js"></script>
<script src="js/vendor/velocity.min.js"></script>
<script src="js/vendor/magnific-popup.min.js"></script>
<script src="js/vendor/owl.carousel.min.js"></script>
<script src="js/scripts.js"></script>
</body>
</html>