<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="managing nurseries made easier">
    <meta name="keywords" content="">
    <title>nannyfic web app - welcome</title>
    <!-- Styles-->
    <link href="../../assets/css/app.min.css" rel="stylesheet">
    <link href="../../assets/css/custom.css" rel="stylesheet">
    <!-- Fonts-->
    <link href="http://fonts.googleapis.com/css?family=Oswald:100,300,400,500,600,800%7COpen+Sans:300,400,500,600,700,800%7CMontserrat:400,700" rel="stylesheet" type="text/css">
    <!-- Favicons-->
    <!-- <link rel="apple-touch-icon" href="/apple-touch-icon.png">-->
    <!-- <link rel="icon" href="../../assets/images/favicon.png"> -->
  </head>
  <body class="login-page">
    <main>
      <div class="login-block"><img src="https://www.digication.com/images/DigicationLogowht.png" alt="Digication">
        <h1>Digication Login</h1>
        <form action="/login" method="POST">
          <div class="form-group">
            <div class="input-group"><span class="input-group-addon"><i class="ti-email"></i></span>
              <input type="text" placeholder="Email" name="email" class="form-control">
            </div>
          </div>
          <hr class="hr-xs">
          <div class="form-group">
            <div class="input-group"><span class="input-group-addon"><i class="ti-unlock"></i></span>
              <input type="password" placeholder="Password" name="password" id="password" class="form-control">
            </div>
          </div>
          <p class="confirm">
            <label>
              <input type="checkbox" onclick="checkbox()" name="checkbox"> Show Password
            </label>
          </p>
          <button type="submit" class="btn btn-primary btn-block">Login</button>
          <div class="login-footer">
            <h6>Or login with</h6>
            <ul class="social-icons">
              <li><a href="#" class="facebook"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a></li>
            </ul>
          </div>
        </form>
      </div>
      <div class="login-links"><a href="#" class="pull-left">Forget Password?</a><a href="#" class="pull-right">Register an account</a></div>
    </main>
    <!-- Scripts-->
    <script src="../../assets/js/app.min.js"></script>
    <!--Custom Scripts-->
    <script>
      function checkbox() {
            var x = document.getElementById("password");
            if (x.type === "password") {
                x.type = "text";
            } else {
                x.type = "password";
            }
        }
    </script>
  </body>
</html>